<div class="container">
    <div class="row row-center">
      <div class="col">Insured Details</div>
    </div>
    <div class="row">
      <div class="col">Full Name:</div>
      <div class="col">Anand Narla</div>
    </div>
    <div class="row">
      <div class="col">Date of Birth</div>
      <div class="col">02/06/1993</div>
    </div>
    <div class="row">
      <div class="col">Email ID</div>
      <div class="col">anand.narla@yahoo.in</div>
    </div>
    <div class="row">
      <div class="col">Phone Number</div>
      <div class="col">9494660256</div>
    </div>
    <div class="row">
      <div class="col row-center">Policy Details</div>
    </div>
    <div class="row">
      <div class="col">Policy Number ID</div>
      <div class="col">920000/34/16/04/00000001</div>
    </div>
    <div class="row">
      <div class="col">Insurance Company</div>
      <div class="col">The New India Assurance</div>
    </div>
    <div class="row">
      <div class="col">Policy Holder:</div>
      <div class="col">Tata Consultancy Services Ltd</div>
    </div>
    <div class="row">
      <div class="col">Policy Start Date</div>
      <div class="col">01/04/2016</div>
    </div>
    <div class="row">
      <div class="col">Policy End Date</div>
      <div class="col">31/03/2017</div>
    </div>
    <div class="row row-center">
      <div class="col">Hopitalisation</div>
    </div>
    <div class="row">
      <div class="col">Limit (Rs):</div>
      <div class="col">2,00,000</div>
    </div>
    <div class="row">
      <div class="col">Balance (Rs)</div>
      <div class="col">2,00,000</div>
    </div>
    <div class="row row-center">
      <div class="col">Domiciliary</div>
    </div>
    <div class="row">
      <div class="col">Limit (Rs)</div>
      <div class="col">6,000</div>
    </div>
    <div class="row">
      <div class="col">Hopitalisation</div>
      <div class="col">5712</div>
    </div>
    <button class="button button-royal button-block" ui-sref="home">Back</button>
</div>
